<ion-header>
  <ion-toolbar>
    <ion-title>Trails</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>

  <ion-card *ngFor=" let trail of hikingSpots">
    <ion-card-header>
      <ion-card-subtitle>{{trail.country}}</ion-card-subtitle>
      <ion-card-title>{{trail.city}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="{{trail.thumbnail}}">
      <p>{{trail.description}}</p>
      <ion-label>{{trail.url}}</ion-label>
      <a href="{{trail.activities.url}}">{{trail.name}}</a>
    </ion-card-content>
  </ion-card>

</ion-content>
